body {
    overflow: hidden;
    margin: 0;
	background-image: repeating-linear-gradient( 30deg, #a06030, #bf8020 200px, #a06030 400px )
}
#canvas-container {
    margin: auto;
    width: calc(100% - 10px);
    max-width: calc( calc( 100dvh - 10px ) * 4 / 3 );
    height: 100dvh;
}
#canvas {
    width: 100%;
    max-height: calc( 100svw * 3 / 4 );
    margin-top: max( calc( calc( 100dvh - 100dvw * 3 / 4 ) / 2 ) + 2.5px, 5px );
	border-radius: 8px;
    user-select: none;
    resize: none;
    background-color: #a08060
}
h1 {
    font-size: 33pt;
}
p {
    font-size: 18pt;
}
#bar {
    position: absolute;
    height: 30px;
    width: 90px;
    left: calc(50vw - 45px);
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}
#bar button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
body:fullscreen #bar {
    height: 8px;
    bottom: 0;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
body:fullscreen #bar:hover {
    height: 30px;
}
body #bar * {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
body:fullscreen #bar:not(:hover) * {
    background: none!important;
}
body:not(:fullscreen) #bar *:nth-child(1) {
    background-image: url('https://12kittens.github.io/media/images/fullscreen.svg');
}
body #bar *:nth-child(2) {
    background-image: url('https://12kittens.github.io/media/images/home.svg');
}
body #bar *:nth-child(3) {
    background-image: url('https://12kittens.github.io/media/images/nglogo.svg');
}
body:fullscreen #bar *:nth-child(1) {
    background-image: url('https://12kittens.github.io/media/images/exit-fullscreen.svg');
}
