#text-wrapper h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 35pt;
}
.game-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.game {
    display: grid;
    height: 160px;
    grid-template-rows: 120px 40px;
    grid-template-columns: calc(100% - 4px);
    margin: 20px;
    border-radius: 16px;
    background-image:
    radial-gradient(ellipse at top left, #ff808050, transparent),
    radial-gradient(ellipse at bottom right, #8080ff50, transparent);
    border-color: #ff8000;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
}
.game img {
    object-fit: cover;
    object-position: bottom;
    height: 116px;
    border-color: #ff8000;
    border-radius: 12px;
    border-width: 1px;
    padding: 2px;
    margin: 5px;
    border-style: solid;
}
.game span {
    font-family: var(--title-font);
    font-size: 16pt;
    text-align: center;
    padding: 5px;
    color: #000000c0;
}
.game span:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
}