/*
MARK: Compatibility mode
*/
* {
    box-sizing: border-box;
}
h1, h2 {
    font-family: ubuntu, calibri, sans-serif;
    line-height: 35pt;
}
h1 {
    font-size: 30pt;
}
h2 {
    font-size: 20pt;
}
p, ul {
    font-family: helvetica, calibri, sans-serif;
    line-height: 20pt;
    font-size: 13pt;
    color: #303030;
}
#root {
    margin: auto;
    padding-bottom: 400px;
    width: 100%;
    max-width: 1000px;
}
#compatibility-warning {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    border-style: solid;
    border-width: 5px 0;
    border-color: #3060a0;
    background-color: #a0c0ff;
    padding: 0 15px;
}
.nocompat-only {
    display: none!important;
}

body {
    margin: 15px;
}

/*
MARK: Main styles
*/
:root {
    --title-font: ubuntu, calibri, sans-serif;
    --body-font: helvetica, calibri, sans-serif;

}
.no-margin {
    margin: 0;
}
.header-wrapper {
    height: 60vh;
}
.header-img {
    background-image: url(../images/wallpaper3-narrow.svg);
    height: 100%;
    background-position: bottom left;
    width: 100%;
    margin: 0;
    image-rendering: optimizeSpeed;
    background-size: cover;
}
.header-bar {
    height: 50px;
    position: sticky;
    background-color: #501020;
    display: grid;
    grid-template-columns: 50% 50%;
    top: 0;
}
.header-floating-logo {
    background-image: url(../images/logo.svg);
    height: 50px;
    width: 200px;
    background-position: bottom 6px center;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: #000000;*/
    position: fixed;
    z-index: 100;
    top: 30vh;
    left: 50%;
    transform: translate(-50%)
}

body.no-margin #root {
    padding: 20px;
    padding-bottom: 200px;
    min-height: 100vh;
    max-width: 800px;
}

/*
MARK: Navigation Bar
*/

.header-bar-left-nav {
    display: flex;
    flex-direction: row-reverse;
}
.header-bar-right-nav {
    display: flex;
    flex-direction: row;
}
.header-bar-button {
    display: grid;
    margin: 0;
    grid-template-rows: auto 5px;
    text-decoration: none;
}
.header-bar-button.selected .header-bar-button-tag {
    color: #ffa0a0;
    font-weight: bold;
}

.header-bar-button-tag {
    font-family: 'consolas', 'ubuntu mono', monospace;
    color: #ffffff;
    font-size: 14pt;
    padding: 5px 8px 0;
    place-self: center;
}
.header-bar-button-tag:hover::first-letter {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #ffffff;
    text-decoration-style: solid;
}
.header-bar-button.selected .header-bar-button-tag:hover::first-letter {
    text-decoration-color: #ffa0a0;
}
.header-bar-button-selected-bar {
    background-color: #ffa0a0;
    border-radius: 5px 5px 0 0;
}

.header-mobile-menu-button, .header-mobile-urls {
    display: none;
}

/* 
MARK: Small screen devices 
*/
@media (width < 700px) {
    .header-bar-left-nav, .header-bar-right-nav {
        display: none;
    }
    .header-mobile-menu-button {
        display: block;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #00000000;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        font-family: 'consolas', 'ubuntu mono', monospace;
        color: #ffffff;
    }
    .header-mobile-urls.open {
        display: block;
        position: fixed;
        background-color: #400010b0;
        backdrop-filter: blur(5px);
        top: 60px;
        left: 10px;
        border-radius: 5px;
        padding: 5px;
        padding-right: 0;
    }
    .header-mobile-urls .header-bar-button {
        display: grid;
        margin: 0;
        grid-template-columns: auto 5px;
        text-decoration: none;
    }
    .header-mobile-urls .header-bar-button-selected-bar {
        border-radius: 5px 0 0 5px;
    }
}